<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1018840766412-jm3pua25qh6ouqdm3ur9tlc8stie2lcg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018840766412-jm3pua25qh6ouqdm3ur9tlc8stie2lcg</string>
	<key>API_KEY</key>
	<string>AIzaSyCFgtHw7vL63bqtexm-sKwq7n_mDF65rDg</string>
	<key>GCM_SENDER_ID</key>
	<string>1018840766412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CBR-Production.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-18ed9</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-18ed9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018840766412:ios:9ae3ad8ce3822175</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-18ed9.firebaseio.com</string>
</dict>
</plist>